<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/procastinator?useSSL=false&amp;allowPublicKeyRetrieval=true&amp;serverTimezone=UTC</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">SUA_SENHA</property>

        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <mapping class="com.example.procastinator.model.Usuario"/>
        <mapping class="com.example.procastinator.model.Categoria"/>
        <mapping class="com.example.procastinator.model.Xingamento"/>
        <mapping class="com.example.procastinator.model.Tarefa"/>
        <mapping class="com.example.procastinator.model.Historico"/>
        <mapping class="com.example.procastinator.model.Recompensa"/>
    </session-factory>
</hibernate-configuration>
